{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static '../../media/img/tulip.png' %}">
</head>
<body>
{% include 'components/teacher-navs.html' %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Subject</th>
        <th scope="col">Grade</th>
        <th scope="col">Nilai</th>
        <th scope="col">Hasil</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for key, val in data.items %}
        <tr>
            {#            <th scope="row">{{ key }}</th>#}
            <td>{{ val.Mapel }}</td>
             <td>{{ val.Kelas }}</td>
            <td>{{ val.Nilai }}</td>
            <td><a href="{{ val.Hasil }}" class="btn btn-link">Link</a></td>
            <td>
                <button onclick="deletes('{{ key }}')" type="button" class="btn btn-danger">Delete</button>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>


<table class="table table-bordered" style="margin-top: 35px">
    <thead>
    <tr>
        {#        <th scope="col">#</th>#}
        <th scope="col">Subject</th>
        <th scope="col">Grade</th>
        <th scope="col">Teacher</th>
        <th scope="col">Question</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for key, val in subject.items %}
        <tr>
            {#            <th scope="row">{{ key }}</th>#}
            <td>{{ val.Subject }}</td>
            <td>{{ val.Grade }}</td>
            <td>{{ val.Teacher }}</td>
            <td><a href="{{ val.Question }}" class="btn btn-link">Link</a></td>
            <td>
                <button onclick="adds('{{ val.Subject }}','{{ val.Grade }}')" type="button" class="btn btn-success">Add</button>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    var currentLocation = window.location
    var url = new URL(currentLocation);
    var _key = url.searchParams.get("id");

    function deletes(id) {
        let el = document.getElementsByName("csrfmiddlewaretoken");
        let csrf_value = el[0].getAttribute("value");
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                location.reload()
            }
        };
        xhttp.open("POST", "{% url 'obligation-delete' %}", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("KeyII=" + id +"&KeyI="+_key+ "&csrfmiddlewaretoken=" + csrf_value);
    }

    function adds(subject, grade) {
         let el = document.getElementsByName("csrfmiddlewaretoken");
        let csrf_value = el[0].getAttribute("value");
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                location.reload()
            }
        };
        xhttp.open("POST", "{% url 'obligation-add' %}", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("Subject=" + subject +"&KeyI="+_key+"&Grade="+grade+ "&csrfmiddlewaretoken=" + csrf_value);
    }
</script>
</body>
</html>