{% load static %}
<meta charset="UTF-8">
{% comment %}<link rel="stylesheet" href="{% static 'node_modules/mdbootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/mdbootstrap/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/mdbootstrap/css/style.css' %}">{% endcomment %}
<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="text/css" href="{% static 'tulip.png' %}">
