{% load static %}
{% comment %}
<script src="{% static 'node_modules/mdbootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/mdbootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'node_modules/mdbootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'node_modules/mdbootstrap/js/mdb.min.js' %}"></script>{% endcomment %}
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>